In [1]:
import pandas as pd
import math
from datetime import datetime

import numpy as np
from pandas import Series, DataFrame
import nsepy as ns

In [2]:
df = pd.read_csv("../datasets/data/TATAMOTORS.csv", index_col = "timestamp")

In [3]:
# ls

In [4]:
df.head()

,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient
timestamp,,,,,,,,
19-03-2021,303.3,311.00,290.35,308.95,308.95,5202269,0.0,1.0
18-03-2021,310.6,316.50,299.75,306.90,306.90,5997189,0.0,1.0
17-03-2021,317.0,320.00,304.00,305.85,305.85,2202123,0.0,1.0
16-03-2021,320.3,321.80,315.30,319.75,319.75,1860583,0.0,1.0
15-03-2021,320.4,320.65,310.10,318.45,318.45,2305974,0.0,1.0

In [5]:
# Checking data from nse_py
# tata = ns.get_history(symbol="TATAMOTORS", 
#                     start = datetime(2005,1,1),
 #                    end = datetime(2021,3,19))

In [6]:
# tata.tail()

In [7]:
df.sort_values(["timestamp"], ascending = True, inplace=True)

In [8]:
df.head()

,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient
timestamp,,,,,,,,
01-01-2008,731.1380,731.1380,731.1380,731.1380,138.3511,900025,0.0,1.0
01-01-2009,156.3275,175.0770,156.3275,169.1405,32.4982,2983816,0.0,1.0
01-01-2013,311.3191,314.6336,311.1707,313.0506,311.2455,828325,0.0,1.0
01-01-2014,374.0974,374.6911,370.0408,370.9313,370.0558,179949,0.0,1.0
01-01-2015,487.3853,494.4596,487.3853,492.9755,492.8754,108635,0.0,1.0

In [9]:
df.tail()

,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient
timestamp,,,,,,,,
31-12-2014,489.3147,493.1734,485.9012,490.8483,490.7487,296366,0.0,1.0
31-12-2015,394.4000,395.9000,389.3000,391.2500,391.1706,219445,0.0,1.0
31-12-2018,172.6000,173.9000,171.9000,172.6000,172.6000,536131,0.0,1.0
31-12-2019,184.1000,187.9000,181.5500,185.1000,185.1000,2633656,0.0,1.0
31-12-2020,185.0000,187.5000,182.8500,183.7000,183.7000,2122018,0.0,1.0

In [10]:
df = df[['open', 'high', 'low', 'close', 'adjusted_close', 'volume']]

In [11]:
df.head()

                open      high       low     close  adjusted_close   volume
timestamp
01-01-2008  731.1380  731.1380  731.1380  731.1380        138.3511   900025
01-01-2009  156.3275  175.0770  156.3275  169.1405         32.4982  2983816
01-01-2013  311.3191  314.6336  311.1707  313.0506        311.2455   828325
01-01-2014  374.0974  374.6911  370.0408  370.9313        370.0558   179949
01-01-2015  487.3853  494.4596  487.3853  492.9755        492.8754   108635

In [12]:
## Volatility 
#high to low percent
df['HL_PCT'] = (df['high'] - df['low']) / df['close'] * 100.0

#Change percent in close to open
df['PCT_change'] = (df['close'] - df['open']) / df['open'] * 100.0

In [13]:
from sklearn import preprocessing
from sklearn.preprocessing import PolynomialFeatures

In [14]:
#Dropping missing values
df.fillna(value=-99999, inplace=True)

#separate 1 percent of data to forecast
forecast_out = int(math.ceil(0.01 * len(df)))

# separate label, we want to predict the adj close
forecast_col = 'adjusted_close'
df['label'] = df[forecast_col].shift(-forecast_out)
X = np.array(df.drop(['label'], 1))
#df.head()

# Scale X - so all have the same distribution for Linear regression
X = preprocessing.scale(X)

#finally, we want to find Data series of late X early X (train) for model generation and evaluation
X_forecast = X[-forecast_out:]
X = X[:-forecast_out]

#separate labe (y)
y = np.array(df['label'])
y = y[:-forecast_out]

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
#Split Data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [17]:
from sklearn.linear_model import LinearRegression

In [18]:
#Linear regression
model = LinearRegression(n_jobs =-1)
model.fit(X_train, y_train)

LinearRegression(n_jobs=-1)

In [19]:
#Accuracy of the model
confidencereg = model.score(X_test, y_test)

reg = confidencereg * 100
print(reg)

12.875617070310174

In [20]:
forecast_reg = model.predict (X_forecast)

In [21]:
from datetime import timedelta
from textblob import TextBlob
import time
import nltk

In [22]:
df['Forecast_reg'] = np.nan

last_date = df.iloc[-1].name
last_unix = datetime.strptime(last_date, '%Y-%m-%d')
next_unix = last_unix + timedelta(days=1)

for i in forecast_reg:
    next_date = next_unix
    next_unix += timedelta(days=1)
    df.loc[next_date] = [np.nan for _ in range(len(df.columns))]
    df['Forecast_reg'].loc[next_date] = i

ValueError: time data '31-12-2020' does not match format '%Y-%m-%d'

In [23]:
df.iloc[-1].name

'31-12-2020'

In [ ]:
df