In [10]:
import pandas as pd
import math
from datetime import datetime

import numpy as np
from pandas import Series, DataFrame
import nsepy as ns

In [4]:
df = pd.read_csv("../datasets/data/TATAMOTORS.csv")

In [3]:
ls

 Volume in drive D is Local Disk
 Volume Serial Number is 617C-A310

 Directory of D:\TYCS\SEM 6\project\stock-price-prediction\stock-price-prediction

21-03-2021  17:28    <DIR>          .
21-03-2021  17:28    <DIR>          ..
21-03-2021  17:26    <DIR>          .ipynb_checkpoints
21-03-2021  17:14    <DIR>          datasets21-3-2021
14-03-2021  15:50                60 README.md
14-03-2021  19:37             3,402 Steps-cum-temp.txt
14-03-2021  15:55    <DIR>          stockprediction
14-03-2021  19:44            87,462 StockPricePrediction.ipynb
21-03-2021  17:20               999 stockstoPredict.md
21-03-2021  17:28               825 Untitled.ipynb
               5 File(s)         92,748 bytes
               5 Dir(s)  353,025,228,800 bytes free

In [5]:
df.head()

,timestamp,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient
0,2021-03-19,303.3,311.00,290.35,308.95,308.95,5202269,0.0,1.0
1,2021-03-18,310.6,316.50,299.75,306.90,306.90,5997189,0.0,1.0
2,2021-03-17,317.0,320.00,304.00,305.85,305.85,2202123,0.0,1.0
3,2021-03-16,320.3,321.80,315.30,319.75,319.75,1860583,0.0,1.0
4,2021-03-15,320.4,320.65,310.10,318.45,318.45,2305974,0.0,1.0

In [11]:
tata = ns.get_history(symbol="TATAMOTORS", 
                     start = datetime(2005,1,1),
                     end = datetime(2021,3,19))

In [13]:
tata.tail()

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2021-03-15,TATAMOTORS,EQ,317.55,320.0,320.4,310.05,318.2,318.55,314.73,45083228,1.418891e+15,307122.0,4375321.0,0.0970
2021-03-16,TATAMOTORS,EQ,318.55,321.0,321.9,315.10,319.0,319.95,318.53,39267404,1.250793e+15,228406.0,3485798.0,0.0888
2021-03-17,TATAMOTORS,EQ,319.95,318.6,320.0,304.00,305.5,305.80,312.19,47262481,1.475510e+15,315250.0,8660012.0,0.1832
2021-03-18,TATAMOTORS,EQ,305.80,311.0,316.6,299.75,308.0,307.00,309.64,73731921,2.283063e+15,422219.0,5223142.0,0.0708
2021-03-19,TATAMOTORS,EQ,307.00,303.5,311.0,290.20,308.2,308.95,302.07,109932681,3.320704e+15,562664.0,16755161.0,0.1524