In [1]:
import pandas as pd
import math
from datetime import datetime

import numpy as np
from pandas import Series, DataFrame
import nsepy as ns

In [2]:
df = pd.read_csv("../datasets/data/INDIGO.csv", index_col = "timestamp")

In [3]:
# ls

In [4]:
df.head()

,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient
timestamp,,,,,,,,
2021-03-19,1718.00,1729.95,1651.45,1663.65,1663.65,52819,0.0,1.0
2021-03-18,1657.75,1730.00,1657.75,1718.20,1718.20,48587,0.0,1.0
2021-03-17,1682.60,1718.75,1671.45,1694.15,1694.15,38550,0.0,1.0
2021-03-16,1656.00,1700.15,1640.00,1682.60,1682.60,28853,0.0,1.0
2021-03-15,1689.00,1689.00,1630.20,1656.90,1656.90,43957,0.0,1.0

In [5]:
# Checking data from nse_py
# tata = ns.get_history(symbol="TATAMOTORS", 
#                     start = datetime(2005,1,1),
 #                    end = datetime(2021,3,19))

In [6]:
# tata.tail()

In [7]:
df.sort_values(["timestamp"], ascending = True, inplace=True)

In [8]:
df.head()

,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient
timestamp,,,,,,,,
2015-11-10,856.0,898.00,848.10,878.45,832.7296,5066114,0.0,1.0
2015-11-13,921.0,1032.70,918.00,1003.25,951.0341,1679120,0.0,1.0
2015-11-16,1009.0,1039.50,965.45,987.60,936.1987,836121,0.0,1.0
2015-11-17,990.0,1049.00,977.00,1035.10,981.2264,753676,0.0,1.0
2015-11-18,1021.0,1067.65,1015.00,1044.40,990.0425,791693,0.0,1.0

In [9]:
df.tail()

,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient
timestamp,,,,,,,,
2021-03-15,1689.00,1689.00,1630.20,1656.90,1656.90,43957,0.0,1.0
2021-03-16,1656.00,1700.15,1640.00,1682.60,1682.60,28853,0.0,1.0
2021-03-17,1682.60,1718.75,1671.45,1694.15,1694.15,38550,0.0,1.0
2021-03-18,1657.75,1730.00,1657.75,1718.20,1718.20,48587,0.0,1.0
2021-03-19,1718.00,1729.95,1651.45,1663.65,1663.65,52819,0.0,1.0

In [10]:
df = df[['open', 'high', 'low', 'close', 'adjusted_close', 'volume']]

In [11]:
df.head()

              open     high      low    close  adjusted_close   volume
timestamp
2015-11-10   856.0   898.00   848.10   878.45        832.7296  5066114
2015-11-13   921.0  1032.70   918.00  1003.25        951.0341  1679120
2015-11-16  1009.0  1039.50   965.45   987.60        936.1987   836121
2015-11-17   990.0  1049.00   977.00  1035.10        981.2264   753676
2015-11-18  1021.0  1067.65  1015.00  1044.40        990.0425   791693

In [12]:
## Volatility 
#high to low percent
df['HL_PCT'] = (df['high'] - df['low']) / df['close'] * 100.0

#Change percent in close to open
df['PCT_change'] = (df['close'] - df['open']) / df['open'] * 100.0

In [13]:
from sklearn import preprocessing
from sklearn.preprocessing import PolynomialFeatures

In [14]:
#Dropping missing values
df.fillna(value=-99999, inplace=True)

#separate 1 percent of data to forecast
forecast_out = int(math.ceil(0.01 * len(df)))

# separate label, we want to predict the adj close
forecast_col = 'adjusted_close'
df['label'] = df[forecast_col].shift(-forecast_out)
X = np.array(df.drop(['label'], 1))
#df.head()

# Scale X - so all have the same distribution for Linear regression
X = preprocessing.scale(X)

#finally, we want to find Data series of late X early X (train) for model generation and evaluation
X_forecast = X[-forecast_out:]
X = X[:-forecast_out]

#separate labe (y)
y = np.array(df['label'])
y = y[:-forecast_out]

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
#Split Data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [17]:
from sklearn.linear_model import LinearRegression

In [18]:
#Linear regression
model = LinearRegression(n_jobs =-1)
model.fit(X_train, y_train)

LinearRegression(n_jobs=-1)

In [19]:
#Accuracy of the model
confidencereg = model.score(X_test, y_test)

reg = confidencereg * 100
print(reg)

83.36688471262363

In [20]:
forecast_reg = model.predict (X_forecast)

In [21]:
from datetime import timedelta
from textblob import TextBlob
import time
import nltk

In [22]:
df['Forecast_reg'] = np.nan

last_date = df.iloc[-1].name
last_unix = datetime.strptime(last_date, '%Y-%m-%d')
next_unix = last_unix + timedelta(days=1)

for i in forecast_reg:
    next_date = next_unix
    next_unix += timedelta(days=1)
    df.loc[next_date] = [np.nan for _ in range(len(df.columns))]
    df['Forecast_reg'].loc[next_date] = i

TypeError: can only concatenate str (not "datetime.timedelta") to str

In [ ]:
df.iloc[-1].name

In [ ]:
df.iloc[-50:-1]