In [1]:
import pandas as pd
import math
from datetime import datetime

import numpy as np
from pandas import Series, DataFrame
import nsepy as ns

In [2]:
# df = pd.read_csv("../datasets/data/TATAMOTORS.csv")

In [3]:
# ls

In [4]:
#df.head()

,timestamp,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient
0,2021-03-19,303.3,311.00,290.35,308.95,308.95,5202269,0.0,1.0
1,2021-03-18,310.6,316.50,299.75,306.90,306.90,5997189,0.0,1.0
2,2021-03-17,317.0,320.00,304.00,305.85,305.85,2202123,0.0,1.0
3,2021-03-16,320.3,321.80,315.30,319.75,319.75,1860583,0.0,1.0
4,2021-03-15,320.4,320.65,310.10,318.45,318.45,2305974,0.0,1.0

In [5]:
# Checking data from nse_py
df = ns.get_history(symbol="TATAMOTORS", 
                    start = datetime(2005,1,1),
                    end = datetime(2021,3,19))

In [6]:
df.tail()

In [7]:
df.sort_values(["timestamp"], ascending = True, inplace=True)

In [8]:
df.head()

,timestamp,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient
3993,2005-01-03,488.4315,501.1275,487.7130,498.3485,91.0978,6639096,0.0,1.0
3992,2005-01-04,499.5465,504.0020,496.3845,498.0610,91.0452,3195182,0.0,1.0
3991,2005-01-05,493.4620,498.2530,455.1350,482.5865,88.2165,8983091,0.0,1.0
3990,2005-01-06,483.8800,488.1920,470.6575,474.5380,86.7450,8203064,0.0,1.0
3989,2005-01-07,472.3820,477.0770,466.6330,472.6215,86.3948,3401813,0.0,1.0

In [9]:
df.tail()

,timestamp,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient
4,2021-03-15,320.4,320.65,310.10,318.45,318.45,2305974,0.0,1.0
3,2021-03-16,320.3,321.80,315.30,319.75,319.75,1860583,0.0,1.0
2,2021-03-17,317.0,320.00,304.00,305.85,305.85,2202123,0.0,1.0
1,2021-03-18,310.6,316.50,299.75,306.90,306.90,5997189,0.0,1.0
0,2021-03-19,303.3,311.00,290.35,308.95,308.95,5202269,0.0,1.0

In [10]:
df = df[['open', 'high', 'low', 'close', 'adjusted_close', 'volume']]

In [11]:
df.head()

          open      high       low     close  adjusted_close   volume
3993  488.4315  501.1275  487.7130  498.3485         91.0978  6639096
3992  499.5465  504.0020  496.3845  498.0610         91.0452  3195182
3991  493.4620  498.2530  455.1350  482.5865         88.2165  8983091
3990  483.8800  488.1920  470.6575  474.5380         86.7450  8203064
3989  472.3820  477.0770  466.6330  472.6215         86.3948  3401813

In [12]:
## Volatility 
#high to low percent
df['HL_PCT'] = (df['high'] - df['low']) / df['close'] * 100.0

#Change percent in close to open
df['PCT_change'] = (df['close'] - df['open']) / df['open'] * 100.0

In [13]:
from sklearn import preprocessing
from sklearn.preprocessing import PolynomialFeatures

In [14]:
#Dropping missing values
df.fillna(value=-99999, inplace=True)

#separate 1 percent of data to forecast
forecast_out = int(math.ceil(0.01 * len(df)))

# separate label, we want to predict the adj close
forecast_col = 'adjusted_close'
df['label'] = df[forecast_col].shift(-forecast_out)
X = np.array(df.drop(['label'], 1))
#df.head()

# Scale X - so all have the same distribution for Linear regression
X = preprocessing.scale(X)

#finally, we want to find Data series of late X early X (train) for model generation and evaluation
X_forecast = X[-forecast_out:]
X = X[:-forecast_out]

#separate labe (y)
y = np.array(df['label'])
y = y[:-forecast_out]

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
#Split Data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [19]:
from sklearn.linear_model import LinearRegression

In [23]:
#Linear regression
model = LinearRegression(n_jobs =-1)
model.fit(X_train, y_train)

LinearRegression(n_jobs=-1)

In [24]:
#Accuracy of the model
confidencereg = model.score(X_test, y_test)

reg = confidencereg * 100
print(reg)

91.05678680963523

In [25]:
forecast_reg = model.predict (X_forecast)

In [32]:
from datetime import timedelta
from textblob import TextBlob
import time
import nltk

In [34]:
df['Forecast_reg'] = np.nan

last_date = df.iloc[-1].name
last_unix = datetime.strptime(last_date, '%Y-%m-%d')
next_unix = last_unix + timedelta(days=1)

for i in forecast_reg:
    next_date = next_unix
    next_unix += timedelta(days=1)
    df.loc[next_date] = [np.nan for _ in range(len(df.columns))]
    df['Forecast_reg'].loc[next_date] = i

TypeError: strptime() argument 1 must be str, not numpy.int64