In [3]:
import pandas as pd
import nsepy as ns
from datetime import datetime

In [4]:
# Checking data from nse_py
dtf = ns.get_history(symbol="TATAMOTORS", 
                    start = datetime(2005,1,1),
                    end = datetime(2021,3,19))

In [5]:
dtf.to_csv('TATAMOTORS.csv')

In [6]:
df = pd.read_csv('TATAMOTORS.csv')

In [7]:
df.head()

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2005-01-03,TATAMOTORS,EQ,505.25,509.90,523.40,508.5,522.5,520.45,517.20,2947420,1.524399e+14,NaN,785505.0,0.2665
1,2005-01-04,TATAMOTORS,EQ,520.45,523.55,525.95,518.0,520.1,519.80,521.63,1775212,9.260105e+13,NaN,348824.0,0.1965
2,2005-01-05,TATAMOTORS,EQ,519.80,516.50,519.35,480.0,504.0,503.70,501.05,3849472,1.928796e+14,NaN,977598.0,0.2540
3,2005-01-06,TATAMOTORS,EQ,503.70,501.00,509.40,489.2,492.0,493.20,500.08,3014483,1.507487e+14,NaN,442501.0,0.1468
4,2005-01-07,TATAMOTORS,EQ,493.20,488.10,498.00,486.4,491.5,492.75,492.39,1939641,9.550539e+13,NaN,445000.0,0.2294

In [8]:
df.iloc[-1]

Date                          2021-03-19
Symbol                        TATAMOTORS
Series                                EQ
Prev Close                         307.0
Open                               303.5
High                               311.0
Low                                290.2
Last                               308.2
Close                             308.95
VWAP                              302.07
Volume                         109932681
Turnover              3320704360515000.0
Trades                          562664.0
Deliverable Volume            16755161.0
%Deliverble                       0.1524
Name: 4025, dtype: object

In [17]:
df.iloc[-1,0]

'2021-03-19'